<!DOCTYPE HTML>
<html>
<header>

	<link href="/js/tealBody.css" rel="stylesheet">
 	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>   
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/CompDex.js"></script>
    
</header>

<section>
<h1><div><span style="color:#ff0000;">C</span><span style="color:#ff2a00;">r</span><span style="color:#ff5500;">e</span><span style="color:#ff7f00;">a</span><span style="color:#ffbf00;">t</span><span style="color:#ffff00;">e</span><span style="color:#aaff00;"> </span><span style="color:#55ff00;">a</span><span style="color:#00ff00;">n</span><span style="color:#00ff80;"> </span><span style="color:#00ffff;">E</span><span style="color:#00aaff;">v</span><span style="color:#0055ff;">e</span><span style="color:#0000ff;">n</span><span style="color:#4600ff;">t</span><span style="color:#8b00ff;">!</span></div></h1>
<tr>
<div class="form-group">
                    <select class="full-width" data-init-plugin="select2" name="printertype" id="printertype">
                        <option value="">please select</option>
                        <option value="">cum</option>
                        <option value="">and</option>
                        <option value="">poop</option>
                    </select>&nbsp;
                </div>
</tr>

</section>


</html>